/* ---------------------------------------- */
/*  Typography                              */
/* ---------------------------------------- */
:root {
  /* Font Sizes */
  --font-h1-size: 2rem;
  --font-h2-size: 1.8rem;
  --font-h3-size: 1.6rem;
  --font-h4-size: 1.4rem;
  --font-h5-size: 1.2rem;
  --font-h6-size: 1.0rem;
  --body-size: 1rem;

  /* ---------------------------------------- */
  /*  Colors                                  */
  /* ---------------------------------------- */
  --ag-main: #281328;
  --ag-kftgv-gold: #d1a347;
  --narrative-border: #5c350c;
  --ag-kftgv-quote-box-color: #cad9e1;
  --ag-kftgv-quote-box-border: #567065;
}
